<div id="post__mainer">
  <div class="sm-container">
    <div class="post--body">
      <div class="post__title">
        <span><%= date(page.date, 'YYYY-MM-DD hh:mm:ss') %></span>
        <h1 class="h1 text-upper"><%= page.title %></h1>
      </div>
      <div class="post__content">
        <%- page.content %>
      </div>
    </div>
    <div class="post--comment">
      <!-- TODO -->
    </div>
  </div>
</div>
