:root {
  --none: 0;
  --base-width-size: 320px;
  --base-mp-size: 16px;

  --xs: 320px;
  --sm: 425px;
  --md: 768px;
  --lg: 1024px;

  --content-width-size: 666px;

  --color-red: #f66;
  --color-black: #333;
}

/**
 * reset
 */

html,
body {
  margin: var(--none);
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

/**
 * custom style -- mobile first (320px)
 */

.container {
  margin: var(--none) auto;
  max-width: var(--base-width-size);
  padding-left: var(--base-mp-size);
  padding-right: var(--base-mp-size);
}

.sm-container {
  max-width: var(--content-width-size);
  margin: 64px auto;
}

/* xs ~ sm */
@media (min-width: 320px) {
  :root {
    --base-width-size: 375px;
  }
}

/* sm ~ md */
@media (min-width: 425px) {
  :root {
    --base-width-size: 666px;
  }
}

/* md ~ lg */
@media (min-width: 768px) {
  :root {
    --base-width-size: 968px;
  }
}

/* > lg */
@media (min-width: 1024px) {
  :root {
    --base-width-size: 1024px;
  }
}

/*
 * helper util
 */
.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text--red {
  color: var(--color-red);
}

.text--black {
  color: var(--color-black);
}

.color--black {
  color: var(--color-black);
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: lighter;
}

a {
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.goto,
.goto--github {
  display: inline-block;
}

.goto--github:link {
  opacity: .5;
}

.goto--github:hover {
  opacity: 1;
}

.icon--github {
  vertical-align: text-bottom;
}

.avatar::before {
  display: block;
  content: '';
  background: url(../img/avatar.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  height: 72px;
  width: 72px;
  margin: 0 auto;
  margin-top: 32px;
}
