.post--comment {
  color: #666;
}

.post--comment input,
.post--comment textarea,
.post--comment textarea:focus,
.post--comment input:focus {
  box-sizing: border-box;
  padding: 0;
  line-height: 1.5;
  padding: 8px 10px;
  border: 1px solid #666;
  /* border-radius: 3px; */
  /* outline: 0; */
  font-family: inherit;
}

textarea {
  resize: vertical;
}

.post--comment button {
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  padding: 8px 15px;
  outline: 0;
  cursor: pointer;
  width: 111px;
  font-size: inherit;
  background-color:#666;
  color: #fff;
}
