<div id="index__mainer">
  <ul class="sm-container p0 post-list">
    <% site.posts.sort('date', 'desc').each(function(post, index) { %>
      <li class="post-list__item">
        <div class="post-list__item--date">
          <span class=""><%= date(post.date, 'YYYY-M-D') %></span>
        </div>
        <div class="post-list__item--title">
            <h3 class="h3 text-upper m0">
              <%- link_to(post.path, post.title, { class: 'color--black' }) %>
            </h3>
        </div>
      </li>
    <% }) %>
    </ul>
</div>
